:root {
  --black: #000000;  
  --black-rgb:rgb(0, 0, 0);
  --black-rgb-shadow:  rgba(0, 0, 0, 0.5);
  --gray: #6a5d5d;
  --primary: #ff0000;
  --secundary: #008000;
  --white: #ffffff;
  --white-primary: #f3f2f8;
  --white-secundary:  #f5f6fa;  
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-secundary);
  font-family: Sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

.appStats {
  display: flex;
  justify-content: space-between;
}

.view {
  display: flex;
  justify-content: space-between;
}

.app_left {
  flex: 0.99;
}

.graph {
  margin-top: 15px;  
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app_right h3,
.graph h3 {
  text-align: center;
}


.titleTable,
.titleGraph {
  margin-bottom: 15px;
}

.titleGraph {
  margin-top: 15px;
}

.app_graph {
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app,
  .appStats,
  .view {
    flex-direction: column;
  }

  .appStats .infoBox {
    margin-bottom: 15px;
  }

  .app_right {    
    margin-top: 15px;  
  }

}

@media (min-width: 990px) {
  .view {    
    margin-top: 15px;
  }
}