:root {
  --color-primary: #ff0000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
  font-family: Sans-serif;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_left {
  flex: 0.9;
}

.appStats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.app_right {
  display: flex;
  flex-direction: column;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.titleTable,
.titleGraph {
  margin-bottom: 15px;
}

.titleGraph {
  margin-top: 15px;
}

.app_graph {
  flex-grow: 1;
}

@media (max-width: 1250px) {
  .app,
  .appHeader,
  .appStats {
    flex-direction: column;
  }

  .appHeader .select {
    margin-top: 10px;
  }

  .appStats .infoBox {
    margin-bottom: 5px;
  }

  .app_right {
    margin-top: 10px;
  }
}