.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.Card {
  margin: 0 2% !important;
}

.Confirmed {
  border-bottom: 10px solid rgba(255, 130, 130, 0.5);
}

.Recovered{
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.Deaths{
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}