.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.appHeader img {
  width: 400px;
}

.appDropdown {
  background-color: var(--white);
}

@media (max-width: 990px) {
  .appHeader {
    flex-direction: column;
  }

  .appHeader img { 
    margin-bottom: 10px;
  }
}